@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: #eeedec;
  letter-spacing: 0.1em;
  font-size: 0.8em;
}

.container {
  max-width: 400px;
}

.card {
  border-radius: 40px !important;
  overflow: hidden;
}

.icon {
  position: relative;
  top: -80px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}

.boxErr {
  position: fixed;
  top: 30px;
  left: -100%;
  width: 300px;
  padding: 20px;
  background-color: red;
  color: #fff;
  border-radius: 12px;
  font-size: medium;
  text-align: center;
  transition: all 0.6s linear;
}

.boxErr.active {
  left: 30px !important;
}
